<div class="col-md-4 col-lg-3 text-gray mb-sm-50">

  <div class="mb-30">
    <img src="{{ content.logo }}" width="105" height="34" alt="Your Company Logo"/>
  </div>

  {{ content.content|raw }}

  <div class="clearlinks">
    <strong>T.</strong> <a href="tel:{{ content.phone }}">{{ content.phone }}</a>
  </div>

  <div class="clearlinks">
    <strong>E.</strong> <a href="mailto:support@bestlooker.pro">{{ content.email }}</a>
  </div>

</div>
