<section class="page-section">
  <div class="container relative"> 
{%
  set classes = [
    'node',
    'node-detail',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}

<!-- Start Display article for teaser page -->
{% if view_mode == 'teaser' %}
  <div class="post-prev col-md-6 col-lg-4 mt-30">
    <div class="post-prev-container">
      <div class="post-prev-img">


        {% if content.field_image['#items'] is not empty %}
        {% set image_file = content.field_image['#items'].entity.fileuri %}
        <a href="{{ url }}">
          <img src="{{ image_file|image_style('blog_650x412') }}" alt="{{ content.field_image['#items'].alt }}" />
        </a>
        {% endif %}
      </div>
      <h4 class="post-prev-title">
        <a href="{{ url }}">{{ label }}</a>
      </h4>
      <div class="post-prev-text">
        {{ node.body.summary|striptags|slice(0, 125) ~ '...' }}
      </div>
      <div class="post-prev-info clearfix">
        <div class="float-start">
          <a href="{{ url }}">{{ author_name }}</a>
        </div>
        <div class="float-end"><a href="#">{{ node.getCreatedTime()|date("F d") }}</a></div>
      </div>
    </div>
  </div>

{% elseif view_mode == 'teaser_2' %}
  <div class="post-block teaser-2">
    <div class="post-image">
      {{ content.field_image }}
    </div>
    <div class="post-content text-center">
        <div class="post-meta">
          <span class="post-created"><i class="far fa-clock"></i> {{ node.getCreatedTime()|date("d M") }} </span>
          <span class="author"><i class="far fa-user-circle"></i>{{ author_name }}</span>
          <span class="post-comment"><i class="fas fa-comments"></i> {{ comment_count }}{{' Comments'|t}}</span>
        </div>
        <h3 class="post-title"> <a href="{{ url }}" rel="bookmark">{{ label }}</a> </h3>
    </div>
  </div>


<!-- End Display article for teaser page -->
{% else %}
<!-- Start Display article for detail page -->


<!-- Section -->
<section class="page-section">
  <div class="container relative">
    <div class="row">
      <!-- Post -->
      <div class="blog-item mb-80 mb-xs-40">

        <div class="blog-item-body">
          <div class="blog-media mb-40 mb-xs-30">
            {{ content.field_image }}
          </div>
          {{ content.body }}
        </div>
      </div>
      <!-- End Post -->
    </div>
  </div>
</section>
  <!-- End Section -->


<!-- End Display article for detail page -->
{% endif %}

</div>
</section>