<section class="page-section">
  <div class="container relative"> 
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}

<!-- Start Display article for teaser page -->

{% if view_mode == 'teaser' %}

  <div class="portfolio-v1">
    <div class="portfolio-content">
      <div class="portfolio-images">
        {{ content.field_portfolio_images }}
        <a class="link" href="{{ url }}"><i class="fa fa-link"></i></a>
      </div>
      <div class="content-inner">
        <div class="portfolio-information">
          <div class="category">{{content.field_portfolio_tags}}</div>
          <h2 class="title"> <a href="{{ url }}" rel="bookmark">{{ label }}</a> </h2>
        </div>
      </div>
    </div>
  </div>

{% elseif view_mode == 'teaser_2' %}
  {% set body %}{{content.body}}{% endset %}



  {% if content.field_portfolio_images['#items'] is not empty %}

    {% if content.field_portfolio_tags %}
      {% set tags = [] %}
      {% for item in content.field_portfolio_tags %}
        {% if item['#options'].entity %}
          {% set tag_name = item['#options'].entity.id() %}
          {% if tag_name %}
            {% set tags = tags|merge([tag_name]) %}
          {% endif %}
        {% endif %}
      {% endfor %}

    {% endif %}
    {%
      set portfolio_classes = [
      'work-item mix',
      tags|join(' ')
    ]
    %}
    {% set image_file = content.field_portfolio_images['#items'].entity.fileuri %}
    <li{{ attributes.addClass(portfolio_classes) }}>
      <a href="{{ url }}" class="work-lightbox-link mfp-image">
        <div class="work-img">
          <div class="work-img-bg wow-p scalexIn"></div>
          <img src="{{ image_file|image_style('portfolio_list_719x461') }}"
               alt="{{ content.field_portfolio_images['#items'].alt }}" class="wow-p fadeIn" data-wow-delay="1s"/>
        </div>
        <div class="work-intro">
          <h3 class="work-title">{{ label }}</h3>
          <div class="work-descr">
            {{ content.body }}
          </div>
        </div>
      </a>
    </li>

  {% endif %}


{% elseif view_mode == 'teaser_3' %}
    {% set body %}{{content.body}}{% endset %}
    <div class="portfolio-v3">
    <div class="portfolio-content">
      <div class="portfolio-height"></div>
      <div class="content-inner">
        <span class="node-index">0{{ drv_node_index }}</span>
        <div class="portfolio-information">
          <div class="category">{{content.field_portfolio_tags}}</div>
          <h2 class="title"><a href="{{ url }}" rel="bookmark">{{ label }}</a> </h2>
          <div class="portfolio-hover">
            <div class="desc">{{ content.body }}</div>
            <div class="action"><a class="btn-theme" href="{{ url }}">{{'Read More'|t}}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% elseif view_mode == 'teaser_4' %}
    <div class="portfolio-v4">
    <div class="portfolio-content">
      <div class="portfolio-images">
        {{ content.field_portfolio_images }}
        <a class="link" href="{{ url }}"><i class="fa fa-link"></i></a>
      </div>
      <div class="content-inner">
        <div class="portfolio-information">
          <h2 class="title"> <a href="{{ url }}" rel="bookmark">{{ label }}</a> </h2>
          <div class="category">{{content.field_portfolio_tags}}</div>
        </div>
      </div>
    </div>
  </div>
{% else %}

<!-- Start Display article for detail page -->
{% set xcol = "col-md-12 col-sm-12 col-xs-12"  %}
{% if informations %}
  {% set xcol = "col-md-6 col-sm-12 col-xs-12"  %}
{% endif %}
  <div class="row">
    <div class="col-md-4 mb-sm-40 wow fadeInUp">
      <div class="block-sticky">
        <h2 class="h3 mb-20">{{ "Project Details"|t }}</h2>
        <hr class="mb-20" />
        <div class="row text-gray small">
          <div class="col-sm-4">
            <b>{{ "Date"|t }}:</b>
          </div>
          <div class="col-sm-8">
            {{ content.field_date}}
          </div>
        </div>

        <hr class="mb-20" />

        <div class="row text-gray small">
          <div class="col-sm-4">
            <b>{{ "Client"|t }}:</b>
          </div>
          <div class="col-sm-8">
            {{ content.field_client}}
          </div>
        </div>

        <hr class="mb-20" />

        <div class="row text-gray small">
          <div class="col-sm-4">
            <b>{{ "Services"|t }}:</b>
          </div>
          <div class="col-sm-8">
            {% if content.field_portfolio_tags %}
              {% set tags = [] %}
              {% for item in content.field_portfolio_tags %}
                {% if item['#options'].entity %}
                  {% set tag_name = item['#options'].entity.label() %}
                  {% if tag_name %}
                    {% set tags = tags|merge([tag_name]) %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              {{ tags|join(', ') }}
            {% endif %}
          </div>
        </div>

        <hr class="mb-20" />

        <div class="text-gray small">
          <div>
            <b>{{ "Description"|t }}:</b>
          </div>
          <div>
            {{ content.body }}
          </div>
        </div>

        <hr class="mb-20" />
      </div>
    </div>
    <div class="col-md-8">
      <div class="mb-n30">
        {{ content.field_portfolio_images }}
      </div>
    </div>
  </div>
<!-- End Display article for detail page -->
{% endif %}
</div>
</section>