
<section id="process">
   <div class="container-fluid">
       <div class="steps-timeline text-center">


         {% for key, item in axis %}
         {% if key >= 0 %}

        
         {% if key == 0  %}
            {% set steps = "steps-one" %}
            {% set back_color = "back-blue" %}
         {% elseif key == 1 %}
            {% set steps = "steps-two" %}
            {% set back_color = "back-orange" %}
         {%  elseif key == 2 %}
            {% set steps = "steps-three" %}
            {% set back_color = "back-blue" %}
         {%  elseif key == 3 %}
            {% set steps = "steps-four" %}
            {% set back_color = "back-orange" %}
         {%  elseif key == 4 %}
            {% set steps = "steps-five" %}
            {% set back_color = "back-blue" %}
         {% endif %}


       

      
<div class="{{steps}}">
   <h3>{{"Axe"|t}} {{key + 1}} : {{ item.title }} </h3>
   {% if key == 0  %} <div class="end-circle back-orange"></div>{% endif %}
   {% if key == 4  %} <div class="inverted-end-circle back-orange"></div>{% endif %}
   <div class="step-wrap">
     <div class="steps-stops">
       <div class="verticle-line back-orange"></div>
     </div>
   </div>
   <div class="pane-warp {{back_color}}">
     <div class="steps-pane">
       <img src="{{ item.icon }}" alt="{{ item.title }}">
     </div>
   </div>
   <div class="inverted-pane-warp {{back_color}}">
     <div class="inverted-steps-pane">
       <p>{{ item.description }}</p>
     </div>
   </div>
 </div>




{% endif %}
{% endfor %}
</div>

</div>
</div>
</section>

